<footer class="site-footer">
	<div class="site-footer__copy">
		<p>© Les Garages Numériques 2019</p>
		<div class="site-footer__social-links">
			<a target="_blank" href="https://www.facebook.com/lesgaragesnumeriques/" title="Facebook">Facebook</a>
			<a target="_blank" href="https://www.instagram.com/lesgaragesnumeriques/" title="Instagram">Instagram</a>
			<a target="_blank" href="mailto:dorian.meeus@undermynetwork.com" title="E-mail">Contact</a></p>
		</div>
	</div>
	<a class="site-footer__btn button button--primary" href="https://tibbaa.com/order/wvvymjxtiw?lang=en" target="_blank">Get tickets</a>
</footer>