<header class="site-header">
	<div class="site-logo">
		<h3 class="site-logo__text">
			<span class="site-logo__text__span">Les</span>
			<span class="site-logo__text__span">Garages</span>
			<span class="site-logo__text__span">Numériques</span>
		</h3>
		<div class="site-logo__bars">
			<div class="site-logo__bar one"></div>
			<div class="site-logo__bar two"></div>
			<div class="site-logo__bar three"></div>
			<div class="site-logo__bar four"></div>
			<div class="site-logo__bar five"></div>
			<div class="site-logo__bar six" id="sixth-bar"></div>
		</div>
	</div>
	<div class="site-info">
		<h2>
			<span>Bourse<br>BRUSSELS</span>
			<span>7 › 11<br>NOVEMBER<br>2019</span>
		</h2>
	</div>
</header>