{{ define "main" }}
    
    <div id="video-wrapper"></div>

    <section id="home-title">
        <h1 class="home-title__h1" id="home-title__h1" data-text="Digital arts festival">Digital arts festival</h1>
        <p class="home-title__p">Five days & four nights dedicated to audiovisual installations, a/v performances, live shows, DJ-sets, conferences, screenings and professional meetings.</p>
        <p class="home-title__p">35 artists across 11 rooms, line-up coming soon...</p>
        <p class="home-title__p home-title__btns">
          <button class="button button--primary">Discover Schedule</button>
          <a class="button button--secondary" href="https://tibbaa.com/order/wvvymjxtiw?lang=en">Limited Blind Pass</a>
        </p>
    </section>

{{ end }}
