{{ define "main" }}
    
    <div id="video-wrapper"></div>

    <section id="home-title">
        <h1 class="home-title__h1" id="home-title__h1" data-text="Digital arts festival">Digital arts festival</h1>
        <p class="home-title__p">Five days & four nights dedicated to audiovisual installations, a/v performances, live shows, DJ-sets, conferences, screenings and professional meetings.</p>
        <p class="home-title__p">35 artists across 11 rooms, line-up coming soon...</p>
        <p class="home-title__p home-title__btns">
          <button class="button button--primary" id="discover-btn">Discover Schedule</button>
          <a class="button button--secondary" href="https://tibbaa.com/order/wvvymjxtiw?lang=en" target="_blank">Get Tickets</a>
        </p>
    </section>

    <section id="home-agenda">
        <button class="home-agenda__close-btn">
          <svg id="home-agenda__close-btn" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="arcs"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
        <div class="home-agenda__table">
          <div class="home-agenda__block">
              <h2>Thursday, 7 November&nbsp;2019</h2>
              <h3>10:00-18:00</h3>
              <p>Les Garages Numériques Pro: meetings &amp; masterclass</p>
              <h3>12:00-20:00</h3>
              <p>Exhibition day 1</p>
              <h3>18:00-23:59</h3>
              <p>Opening Night: concerts &amp; A/V live shows</p>
          </div>  
          <div class="home-agenda__block">
              <h2>Friday, 8 November&nbsp;2019</h2>
              <h3>12:00-20:00</h3>
              <p>Exhibition day 2</p>
              <h3>21:00-06:00 (overnight)</h3>
              <p>Night: A/V live shows, 3D-sound live &amp; DJ-sets</p>
          </div>
          <div class="home-agenda__block">
              <h2>Saturday, 9 November&nbsp;2019</h2>
              <h3>12:00-20:00</h3>
              <p>Exhibition day 3</p>
              <h3>17:00-23:59</h3>
              <p>ArtScience Night: talks, in-depth conversations &amp; participative experiences l co-produced and curated by Ohme</p>
          </div>
          <div class="home-agenda__block">
              <h2>Sunday, 10 November&nbsp;2019</h2>
              <h3>12:00-20:00</h3>
              <p>Exhibition day 4</p>
              <h3>21:00-06:00 (overnight)</h3>
              <p>Night: A/V live shows, 3D-sound lives & DJ-sets</p>
          </div>
          <div class="home-agenda__block">
              <h2>Monday, 11 November&nbsp;2019</h2>
              <h3>12:00-20:00</h3>
              <p>Exhibition day 5</p>
          </div>
          <div class="home-agenda__block home-agenda__block--btn">
              <a class="button button--primary" href="https://tibbaa.com/order/wvvymjxtiw?lang=en" target="_blank">Get tickets</a>
          </div>
        </div>
      </section>

{{ end }}
