/*
* FOOTER
*/

.site-footer {
    position: relative;
    z-index: 2;
    bottom: 0;
    padding:0 0 $su 0;
    width:100%;
    box-sizing: border-box;
    margin-top:$su*1.5;

    @media screen and (min-width:400px) {
        padding-left:$su;
    }
    
    @media screen and (min-width:768px) {
        position: absolute;
        padding:0 0 $su*3 $su*3;
        padding-left:$su*3;
        margin-top:0;
    }
    
    p {
        color: white;
        font-size: 0.8382rem;
        margin:0;
        font-weight: bold;
        text-align: center;

        @media screen and (min-width:400px) {
            text-align: left;
        }
    }
}

.site-footer__bars {
    display:none;
    justify-content: flex-end;
    position: absolute;
    right: $su*3;
    bottom: 0;
    font-size: 1rem;
    z-index:3;
    overflow:hidden;

    @media screen and (min-width:768px) {
        display:flex;
    } 

    a {
        display:block;
        background-color:$red;
        color:white;
        padding:$su/2 $su/2;
        text-align: center;
        @include ff-b;
        margin:0 $su/2;
        width:1.2em;
        height:40px;
        transform:translateY(20px);
        transition:transform 200ms ease-out;

        &:hover, &:focus {
            background-size:auto;
            transform:translateY(0);
        }
    }
}

   